UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""

# or if you use Upstash hosted models
QSTASH_TOKEN=""

# Optional: For Redis-based chat history (default is in-memory)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
